extends /layouts/default

block content
	style
		hr.small{
			margin: 4px;
		}
		.minion-slaves hr.small:last-of-type{
			display: none;
		}

	div.row
		each minion in inExecution
			div.col-xs-3
				div.well.well-sm
					div
						h4(style='margin-top:0')
							i.fa.fa-fire
							span  #{minion.name}
					div
						b Slaves
						hr.small
						div.minion-slaves
							each item in minion.lives
									div
										span
											i.fa.fa-heart
											span  PID:
										b #{item.life.pid}
									if item.port
										div
											span PORT:
											b #{item.port}
									div
										span Vivo há #{item.getMLifeTime()} #{__p(item.getMLifeTime(), 'minuto', 'minutos')}
									hr.small
					br
					div.text-right
						button.btn.btn-warning Matar
						button.btn.btn-info Reviver